SCRAPFLY_KEY="你的 Scrapfly API Key"
WEIBO_COOKIES="SUB=_2A25...第一个账号...;"
DRY_RUN_REPLIES="true"
MAX_COMMENTS_PER_KEYWORD="2"
DEFAULT_MAX_PER_KEYWORD="2"
DEFAULT_MAX_TOTAL="20"
ENABLE_REAL_REPLIES="true"
